<html>
	<head>
		
	</head>
	<body>
		<h2>Esta es la pagina principal del Admin</h2>
		<div class="menu">
				<button><a href="index">Volver al Index</a></button>
				<button><a href="transacciones">Transacciones</a></button>
		</div>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Importe</th>
				<th>Concepto</th>
				<th>Procesador</th>
				<th>Borrar</th>
				<th>Modificar</th>
			</tr>
		</table>
		<a href="alta_vista">Alta </a>
	</body>
</html>