<html>
	<head>
		
	</head>
	<body>
	<h2>Bienvenido a las Transacciones</h2>
		<div class="trans">
			<form action="/admin/nuevo">
			Nombre: <input type="text" name="nombre"><br/>
			Importe: <input type="number" name="importe" step="0.01" min="0"><br/>
			Concepto: <input type="text" name="concepto"><br/>
			Procesador: <input type="text" name="procesador"><br/>
			<input type="submit" name="crear" value="crear"><br/>
			</form>
		</div>
	</body>
</html>