//para centrar
.menu {
  display: flex;
  position: relative;
  float: right;
  width: 40%;
  flex-direction: row;
}

.caj_admin {
  width: 320px;
  border: 3px solid #004515;
  margin: 100px auto;
}

.caj_admin>table {
  display: block;
  font: 1.2em 'Montserrat Alternates';
}

.caj_admin>table {
  padding: 0.6em 0.8em;
}

table {
  display: block;
  font: 1.2em 'Montserrat Alternates';
  padding: 0.6em 0.8em;
}